{% set patient = patient if patient else {} %}

{% extends "layout.html" %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='datepicker.js') }}"></script>
{% endblock %}
{% block jumbotron %}
    <div class="container">
        <div class="row">
            <a href="{{ url_for(".viewer") }}" class="d-none d-sm-inline-block">
                <i class="fas fa-chevron-circle-left btn-back"></i>
            </a>
            <div class="col col-md-7 col-sm-7 col-8 px-0">
                <h1 class="mb-auto pb-3 ">{% if row_id %}Edit {% else %}Add {% endif %}<span class="gray">Details</span>
                </h1>
            </div>
            {% if (patient.get('transplant')) or (patient.get('is_high_risk')) %}
                {% if (patient.get('transplant')) %}
                    <div class="col col-md-5 col-sm-5 col-4 text-right">
                        <h1><sup><span class="badge badge-danger">Transplant</span></sup></h1>
                    </div>
                {% else %}
                    <div class="col col-md-5 col-sm-5 col-4 text-right">
                        <h1><sup><span class="badge badge-danger">High Risk</span></sup></h1>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <form class="p-5" action="{{ url_for('.modify', row_id=row_id) }}" method="POST">
            <div class="row">
                <div class="col col-md-9">
                    <section class="pb-2 pt-4">
                        <h4 class="pb-2">Patient's <span class="gray">Info</span></h4>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-12 pr-sm-2 pr-0">
                                <label>Name*</label>
                                <input type="text" class="form-control" placeholder="Name"
                                       value="{{ patient.get('first_name', '') }}"
                                       name="first_name" required/>
                            </div>
                            <div class="form-group col-sm-6 col-12">
                                <label>Surname*</label>
                                <input type="text" class="form-control" placeholder="Surname"
                                       value="{{ patient.get('last_name', '') }}"
                                       name="last_name" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-12 pr-sm-2 pr-0">
                                <label>Sex</label>
                                <select class="form-control" name="sex">
                                    {% for s in ["Male", "Female", "Other"] %} }
                                        {% if (s == patient.get("sex", "")) %}
                                            <option selected>{{ s }}</option>
                                        {% else %}}
                                            <option>{{ s }}</option>
                                        {% endif %}}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-6 col-12">
                                <label>Date of Birth*</label>
                                <input type="text" class="form-control date-picker dob" placeholder="Date of Birth"
                                       value="{{ patient.get('date_of_birth', '') | date_to_field }}"
                                       name="date_of_birth" autocomplete="off"
                                       required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-12 pr-sm-2 pr-0">
                                <label>Phone number</label>
                                <input type="text" class="form-control" placeholder="Phone number"
                                       value="{{ patient.get('phone_number', '') }}" name="phone_number"
                                       pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$"/>
                            </div>
                            <div class="form-group col-sm-6 col-12">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Email"
                                       value="{{ patient['email'] }}"
                                       name="email" pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label>Diagnosis</label>
                                <input type="text" class="form-control" placeholder="Diagnosis"
                                       value="{{ patient.get('diagnosis', '') }}"
                                       name="diagnosis"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col">
                                <label>Transplant</label>
                                <input type="text" class="form-control" placeholder="Transplant info"
                                       value="{{ patient.get('transplant', '') }}"
                                       name="transplant"/>
                            </div>
                        </div>
                        <div class="form-row mt-3">
                            {% if (patient.get('is_high_risk')) %}
                                <input class="form-check-input" type="checkbox" value="risk" name="is_high_risk"
                                       id="high_risk_check" checked>
                            {% else %}
                                <input class="form-check-input" type="checkbox" value="risk" name="is_high_risk"
                                       id="high_risk_check">
                            {% endif %}
                            <label class="check-label" for="high_risk_check">
                                High risk patient
                            </label>
                        </div>
                    </section>

                    {% set carer = patient.get('carer', {}) %}

                    <section class="pb-2 pt-4">
                        <h4 class="pb-2">Carer's <span class="gray">Info</span></h4>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-12 pr-sm-2 pr-0">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name"
                                       value="{{ carer.get('name', '') }}"
                                       name="carer_name"/>
                            </div>
                            <div class="form-group col">
                                <label>Surname</label>
                                <input type="text" class="form-control" placeholder="Surname"
                                       value="{{ carer.get('last_name', '') }}" name="carer_last_name"/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-12 pr-sm-2 pr-0">
                                <label>Phone number</label>
                                <input type="text" class="form-control" placeholder="Phone number"
                                       value="{{ carer.get('phone_number', '') }}"
                                       name="carer_phone_number" pattern="^(\(?\+?[0-9]*\)?)?[0-9_\- \(\)]*$"/>
                            </div>
                            <div class="form-group col">
                                <label>Email</label>
                                <input type="text" class="form-control" placeholder="Email"
                                       value="{{ carer.get('email', '') }}" name="carer_email"
                                       pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$"/>
                            </div>
                        </div>
                    </section>

                    <section class="pb-2 pt-4">
                        <h4 class="pb-2 pt-4">Hospital</h4>
                        <div class="row">
                            <div class="form-group col">
                                <label>Choose hospital from the list</label>
                                <select class="form-control" name="hospital_number">
                                    {% for h in hospitals %}
                                        {% if (h["hospital_number"] == patient["hospital_number"]) %}
                                            <option selected>{% else %}
                                            <option>{% endif %}
                                    {{- h["hospital_number"] + ", " + h["name"] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary mr-auto ml-3 mt-5 mb-2">Save Changes</button>
            </div>
        </form>
    </div>
{% endblock %}
