{% set user = user if user else {} %}

{% extends "layout.html" %}
{% block jumbotron %}
    <div class="container">
        <div class="row">
            <a href="{{ url_for(".viewer") }}" class="d-none d-sm-inline-block">
                <i class="fas fa-chevron-circle-left btn-back"></i>
            </a>
            <div class="col px-0">
                <h1 class="mb-auto pb-3 ">{% if row_id %}Edit {% else %}Add {% endif %}<span class="gray">Details</span>
                </h1>
            </div>
        </div>
        <form class="p-5" action="{{ url_for('.modify', row_id=row_id) }}" method="POST">
            <div class="row">
                <div class="col col-md-9">
                    <section class="pb-2 pt-4">
                        <h4 class="pb-2">User's <span class="gray">Info</span></h4>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-12 pr-sm-2 pr-0">
                                <label>Name*</label>
                                <input type="text" class="form-control" placeholder="Name"
                                       value="{{ user.get('first_name', "") }}"
                                       id="first_name" name="first_name" required/>
                            </div>
                            <div class="form-group col-sm-6 col-12">
                                <label>Surname*</label>
                                <input type="text" class="form-control" placeholder="Surname"
                                       value="{{ user.get('last_name', "") }}"
                                       name="last_name" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-12">
                                <label>Email*</label>
                                <input type="text" class="form-control" placeholder="Email"
                                       value="{{ user.get('email') }}"
                                       pattern="^[^@\s]+@[^@\s]+\.[^@\s]+$" name="email" required/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-12">
                                <label> {% if row_id %}New {% endif %}Password</label>
                                <input type="password" class="form-control" placeholder="Password" name="password"
                                        {% if not row_id %} required {% endif %}/>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-6 col-12">
                                <label>Repeat Password</label>
                                <input type="password" class="form-control" placeholder="Repeat password"
                                       name="validate_password"
                                        {% if not row_id %} required {% endif %}/>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary mr-auto ml-3 mt-5 mb-2">Save Changes</button>
            </div>
        </form>
    </div>
{% endblock %}
